<div class="container mt-5">
  <div class="row">
      <div class="col-lg-8 offset-lg-2">
          <div class="card">
              <div class="card-body">
                  <h1 class="titulo">EMPLEADOS</h1>
              </div>
          </div>
      </div>
  </div>
  <div class="row mt-4">
      <div class="col-lg-4">
          <app-intranet-model-employees></app-intranet-model-employees>
      </div>
      <div class="col-lg-8">
          <app-intranet-list-employees></app-intranet-list-employees>
      </div>
  </div>
</div>